{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
   <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/plyr.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css">
    
    
</head>

<body>
 
   

{% include('navbar/navbar.html.twig') %}

<div class="container">



<form action="./search2" method="post">
     
      
      <div class="realestate-tabpane pb-5">
        <div class="container tab-content">
           <div class="tab-pane active" id="for-rent" role="tabpanel" aria-labelledby="rent-tab">

             <div class="row">
               <div class="col-md-4 form-group">
                 <select name="categorie" id="" class="form-control w-100">
                  <option value="">Categorie</option>
                   {% for Categorie in Categories %}
                   <option value="{{Categorie.id}}">{{Categorie.Categorie}}</option>
                 
                     {% else %}
                                    
                    {% endfor %}
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <input type="text" name="Titre" class="form-control" placeholder="Title">
               </div>
               <div class="col-md-4 form-group">
                 <input type="text"  name="Resume" class="form-control" placeholder="Resume">
               </div>
             </div>

             <div class="row">
               <div class="col-md-4 form-group">
                 <select name="Langue" id="" class="form-control w-100">
                   <option value="">Langue</option>
                   <option value="Arabe">Arabe</option>
                   <option value="Anglais">Anglais</option>
                   <option value="Francais">Francais</option>
                  
                 </select>
               </div>
               <div class="col-md-4 form-group">
                
                 <input type="text" name="Ouevre" class="form-control" placeholder="Ouevre">
             
               </div>
               <div class="col-md-4 form-group">
                 <input type="text" name="Acteur" class="form-control" placeholder="Acteur">
               </div>
               <div class="col-md-4 form-group">
                 <div class="row">
                   <div class="col-md-6 form-group">
                     <select name="" id="" class="form-control w-100">
                       <option value="">Min Price</option>
                       <option value="">$100</option>
                       <option value="">$200</option>
                       <option value="">$300</option>
                       <option value="">$400</option>
                     </select>
                   </div>
                   <div class="col-md-6">
                     <select name="" id="" class="form-control w-100">
                       <option value="">Max Price</option>
                       <option value="">$25,000</option>
                       <option value="">$50,000</option>
                       <option value="">$75,000</option>
                       <option value="">$100,000</option>
                       <option value="">$100,000,000</option>
                     </select>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-2">
                 <input type="submit" class="py-3 btn-block" value="Search">
               </div>
             </div>

           </div>
          
             

           </div>
        </div>
      </div>
    </form>




</div>








   <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Episode</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          {% for episode in episodes %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                <a href="/watching/{{episode.id}}">
                                    <div class="product__item__pic set-bg" data-setbg="/imgouvevre/{{episode.image}}">
                                    <div class="ep">{{episode.getNumeroEpisode()}} / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{episode.nbCommenter}}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{episode.NbView}}</div>
                                    </div></a>
                                    <div class="product__item__text">
                                        <ul>
                                          {% for categorie in episode.categories %}
                                            <li>{{categorie.Categorie}}</li>
                                           
                                              {% endfor %}
                                        </ul>
                                        <h5><a href="/watching/{{episode.id}}"> {{episode.Titre}} </a></h5>
                                    </div>
                                </div>
                            </div>
                             {% else %}
                                    <tr>
                                        <td colspan="15">no records found</td>
                                     </tr>
                               {% endfor %}
                            
                        </div>
                    </div>
                     </div>
    </div>
</div>
</div>
</div>
</div>
</section>





<!-- Hero Section Begin -->
<section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Ouevre</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          {% for ouevre in ouevres %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                <a href="">
                                    <div class="product__item__pic set-bg" data-setbg="/imgouvevre/{{ouevre.image}}">
                                    <div class="ep">{{ouevre.getNbParite()}} / 18</div>
                                    </div></a>
                                    <div class="product__item__text">
                    
                                        <h5> {{ouevre.Titre}} </h5>
                                    </div>
                                </div>
                            </div>
                             {% else %}
                                    <tr>
                                        <td colspan="15">no records found</td>
                                     </tr>
                               {% endfor %}
                            
                        </div>
                    </div>
                     </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!--  sdfdfsd -->


<section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Acteur</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          {% for acteur in acteurs %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                              
                                <a href="">
                                    <div class="product__item__pic set-bg" data-setbg="/acteur/{{acteur.image}}">
                                    <div class="ep">/ 18</div>
                                    </div></a>
                                    <div class="product__item__text">
                    
                                        <h5> {{acteur.nom}} </h5>
                                    </div>
                                </div>
                            </div>
                             {% else %}
                                    <tr>
                                        <td colspan="15">no records found</td>
                                     </tr>
                               {% endfor %}
                            
                        </div>
                    </div>
                     </div>
    </div>
</div>
</div>
</div>
</div>
</section>




 <script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/player.js')}}"></script>
    <script src="{{ asset('js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ asset('js/mixitup.min.js')}}"></script>
    <script src="{{ asset('js/jquery.slicknav.js')}}"></script>
    <script src="{{ asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('js/main.js')}}"></script>
   


</body>

</html>
{% endblock %}
